---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Your Name
  </div>
  <div class="inline opacity-75">
    Update `src/components/Footer.astro` with your preferred footer text.
  </div>
</footer>
