---
import SideBarFooter from "./SideBarFooter.astro";
import SideBarMenu from "./SideBarMenu.astro";
import { withBase } from "../lib/paths";
const { sideBarActiveItemID } = Astro.props;
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside class="px-4 pt-4 h-auto min-h-full w-[24rem] bg-base-200 text-base-content flex flex-col">
    <div class="w-fit mx-auto mt-6 mb-8">
      <a href={withBase("/")}>
        <div class="avatar transition ease-in-out hover:scale-[102%] block m-auto">
          <div class="w-[10.5rem]">
            <img class="mask mask-circle" width="300" height="300" src={withBase("/profile.webp")} alt="Profile image" />
          </div>
        </div>
      </a>
    </div>
    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
    <SideBarFooter />
  </aside>
</div>
